#meny{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border: 2px dotted gray;
    margin: 15px;
}

.välja_meny{
    padding: 20px;
    color: blue;
    border: 3px solid black;
    background-color: lightgray;
    
}




.kontaktuppgifter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: solid 5px gray;
    border-radius: 20px ;
    width: 250px;


}

#list_kontaktuppgifter{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
    padding-top: 10px;
    
}

#telephone_icon{
    position: absolute;
    left: 10px;
    bottom: 106px;
}

#email_icon{
    position: absolute;
    left: 10px;
    bottom: 57px;
    

}


#location_icon{
    position: absolute;
    left: 10px;
    bottom: 14px;
}

#anställa{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: solid 5px grey;
    border-radius: 1px;
    padding: 5px;

}